<template>
<div>
        <div id="flash-message" class="flex relative py-4" v-if="info.messages">
            <div role="alert" :class="info.status ? 'bg-green-500' : 'bg-red-500'" class="min-w-full border border-red-light text-white pl-4 pr-8 py-3 rounded relative">
                <p class="block" :key="message" v-for="message in info.messages">{{ message }}</p> 
                <span onclick="document.getElementById('flash-message').style.display = 'none'" class="absolute mr-4 right-0 inset-y-1/2 h-6 w-6 -mt-3">
                    <svg role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <title>Close</title><path stroke="#eee" fill="white" d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"></path>
                    </svg>
                </span>
            </div>
        </div>

        <form ref="form" method="POST" class="border-t border-gray-200 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-4">

        <div class="flex flex-col sm:flex-row">
            <div class="flex-1 px-2">
                <div class="relative mb-3">
                    <input v-model.trim="account.name" @input="delayTouch($v.account.name)" placeholder="Name" type="text" name="name"
                    :class="{'border-red-500 focus:border-red-500 focus:shadow-red': $v.account.name.$error }"
                    class="form-input shadow-sm rounded-none w-full block h-10 py-2 px-4 transition ease-in-out duration-300 focus:outline-none">
                    <div v-if="$v.account.name.$error">
                        <span v-cloak class="text-xs text-red-600" v-if="!$v.account.name.required">Pole jest wymagane </span>
                        <span v-cloak class="text-xs text-red-600" v-if="!$v.account.name.minLength">Pole wymaga minimum {{$v.account.name.$params.minLength.min}} znaków </span>
                    </div>
                </div>
                <div class="relative mb-3">
                    <input v-model.trim="account.surname" @input="delayTouch($v.account.surname)" placeholder="Surname" type="text" name="surname"
                    :class="{'border-red-500 focus:border-red-500 focus:shadow-red': $v.account.surname.$error }"
                    class="form-input shadow-sm rounded-none w-full block h-10 py-2 px-4 transition ease-in-out duration-300 focus:outline-none">
                    <div v-if="$v.account.surname.$error">
                        <span v-cloak class="text-xs text-red-600" v-if="!$v.account.surname.required">Pole jest wymagane </span>
                        <span v-cloak class="text-xs text-red-600" v-if="!$v.account.surname.minLength">Pole jest za krótkie </span>
                    </div>
                </div>
                <div class="relative mb-3">
                    <input v-model.trim="account.email" @input="delayTouch($v.account.email)" placeholder="Email" type="email" name="email"
                    :class="{'border-red-500 focus:border-red-500 focus:shadow-red': $v.account.email.$error }"
                    class="form-input shadow-sm rounded-none w-full block h-10 py-2 px-4 transition ease-in-out duration-300 focus:outline-none">
                    <div v-if="$v.account.email.$error">
                        <span v-cloak class="text-xs text-red-600" v-if="!$v.account.email.required">Pole jest wymagane </span>
                        <span v-cloak class="text-xs text-red-600" v-if="!$v.account.email.email">To nie jest poprawny adres email </span>
                    </div>
                </div>
                <div class="relative mb-3">
                    <textarea v-model="account.description" rows="4"
                        class="form-input rounded-none w-full block py-2 px-4 transition ease-in-out duration-300 focus:border-primary-300 focus:outline-none focus:shadow-primary"
                        name="description"
                        placeholder="description"></textarea>
                </div>
            </div>
            <div class="flex-1 px-2">
                <div class="relative mb-3">
                    <select v-model="account.position_id" name="position_id" class="form-input shadow-sm rounded-none w-full block h-10 py-2 px-4 transition ease-in-out duration-300 focus:border-primary-300 focus:outline-none focus:shadow-primary">
                            <option :key="position.id" v-for="position in job_positions" :value="position.id">{{ position.name }}</option>
                    </select>
                    <div class="py-3 absolute right-0 top-0 pointer-events-none absolute pin-y pin-r flex items-center px-2 text-grey">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                    </div>
                </div>
                
                
                <div class="relative mb-3" :key="skill.name" v-for="skill in account.skills">
                    <input v-model="skill.skill_value" :type="`${skill.type}`" :name="skill.name" :id="skill.name"
                    :class="skill.type == 'checkbox' ? 
                                'form-checkbox border-2 border-gray-400' : 
                                'form-input shadow-sm rounded-none w-full block h-10 py-2 px-4 transition ease-in-out duration-300 focus:border-primary-300 focus:outline-none focus:shadow-primary'"
                    :placeholder="skill.name">
                    <label v-if="skill.type == 'checkbox'" :for="skill.name" class="py-3 ml-2 text-gray-500">{{skill.name}}</label>
                </div>

            </div>
        </div>
        
        <div class="flex items-center justify-between">
            <a @click="register"
                class="cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                zarejestruj
            </a>
        </div>
    </form>
</div>
</template>

<script>
import axios from 'axios'
import { required, minLength, email } from 'vuelidate/lib/validators'

const touchMap = new WeakMap()


export default {
    name: 'RegisterForm',
    props: {
        positions: {
            type: Array,
            default: () => []
        }
    },    
    validations: {
        account: {
            name: {
                required,
                minLength: minLength(3)
            },
            surname: {
                required,
                minLength: minLength(3)
            },
            email: {
                required,
                email
            }
        }
    },
    data() {
        return {
            account: {
                name: '',
                surname: '',
                email: '',
                description: '',
                position_id: 1,
                skills: [],
            },
            info: {},
            poss: this.positions
        }
    },
    computed: {
        job_positions() {
            return this.poss.map(pos => {

                pos.skills.map(skill => this.$set(skill, 'skill_value', skill.type === 'text' ? '' : false  ));
                return pos;
            })
        }
    },
    mounted() {

        if (this.job_positions.length == 0) this.validationErrors = ['Brak stanowisk'];

        let firstPosition = this.job_positions[0];
        this.account.position_id = firstPosition.id;
        this.account.skills = firstPosition.skills;

        localStorage.setItem('initAccount', JSON.stringify(this.account))
        localStorage.setItem('positions', JSON.stringify(this.positions))
    },
    watch: {
        'account.position_id'(newVal, oldVal) {
            
            this.account.skills = this.job_positions.find(pos => pos.id == newVal).skills;
        }
    },
    methods: {
        delayTouch($v) {
            $v.$reset()
            if (touchMap.has($v)) {
                clearTimeout(touchMap.get($v))
            }
            touchMap.set($v, setTimeout($v.$touch, 1000))
        },
        register(e) {
            e.preventDefault();
            
            this.info = {};
            this.$v.account.$touch();
            if (this.$v.account.$pending || this.$v.account.$error) return;

            axios({
                method: 'post',
                url: '/admin/accounts',
                data: {
                    ...this.account,
                }
            })
            .then(({data}) => {
                
                this.info = {
                    messages: data.messages,
                    status: true
                }
                this.reset();
            })
            .catch(({response}) => {
                
                this.info = {
                    messages: response.data.errors.flat(),
                    status: false
                }
                this.$v.account.$touch();
            })
        },
        reset() {
            Object.assign(this.$data.account, JSON.parse(localStorage.getItem('initAccount')));
            this.poss = JSON.parse(localStorage.getItem('positions'));
            this.$v.$reset();
        }
    }

}
</script>